article {
  display: flex;
  flex-wrap: wrap;
}

article > * {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: black;
}

/* Mobile Stles */
@media only screen and (max-width: 400px) {
  section {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  article > section {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  #sign-up {
    order: 1;
  }

  main {
    height: auto;
    min-height: 500px;
    order: 2;
  }

  .feature {
    flex: 1;
    height: 400px;
  }
}

nav {
  background-color: #5995DA;
  height: 80px;
}

header {
  background-color: #B2D6FF;
}

main {
  background-color: #EAEDF0;
  height: 600px;
}

#sign-up {
  background-color: #D6E9FE;
}

#feature-1 {
  background-color: #F5CF8E;
}

#feature-2 {
  background-color: #F09A9D;
}

#feature-3 {
  background-color: #C8C6FA;
}
